.ta{
    color:blue;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:black;
}
.ola{
    color: black;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:blue;
}
#olu{
    color: blue;
    font-size:35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}